.map.js-map
    .map__input
        .search-input
            input(placeholder="Адрес или объект")
    .map__map.js-map__cnt
    .map__list
        .r-adds-list.js-scrollbar(data-scrollbar)
            .js-scrollbar__inner
                +r-adds(
                    name="tab-1"
                    checked=true
                    title="г. Москва, Солнечный бульвар, д. 42"
                    text="с 8:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "Партнерский пункт выдачи"}
                    ]
                    geo="55.933074, 37.385995"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, ул. Инженерная, д. 20"
                    text="с 9:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "Распределительный склад"}
                    ]
                    geo="55.730571, 37.570016"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, ул. Железнодорожная д. 11"
                    text="с 9:00 до 19:00, воскресенье выходной"
                    list=[
                        {icon: "icon-delivery-place", text: "Почта России"}
                    ]
                    geo="55.724371, 37.597482"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, проспект Яковлева, д. 56"
                    text="с 8:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "с 8:00 до 20:00, без выходных"},
                    ]
                    geo="55.718170, 37.550790"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, Солнечный бульвар, д. 42"
                    text="с 8:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "Партнерский пункт выдачи"}
                    ]
                    geo="55.675512, 37.765024"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, ул. Инженерная, д. 20"
                    text="с 9:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "Распределительный склад"}
                    ]
                    geo="55.628922, 37.645547"
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, ул. Железнодорожная д. 11"
                    text="с 9:00 до 19:00, воскресенье выходной"
                    list=[
                        {icon: "icon-delivery-place", text: "Почта России"}
                    ]
                )
                +r-adds(
                    name="tab-1"
                    checked=false
                    title="г. Москва, проспект Яковлева, д. 56"
                    text="с 8:00 до 20:00, без выходных"
                    list=[
                        {icon: "icon-delivery-place", text: "с 8:00 до 20:00, без выходных"},
                    ]
                    geo="55.614158, 37.619455"
                )
