include mixins/service

h3.block-h Услуги
.services-list
    +service(
        checked=true
        cat="Услуги установки"
        title="Помощь в вводе в эксплуатацию тяговых аккумуляторных батарей"
        list=["Выезд инженера на объект ввода","Заряд / разряд аккумуляторной батареи","Контроль режимов заряда и разряда аккумуляторов"]
        priceOld="3 800 ₽"
        discount="–1 300"
        price="2 500"
        more=true
    )
    +service(
        checked=false
        cat="Ремонт аккумуляторов"
        title="Восстановление тягового аккумулятора"
        list=["Диагностика тяговой батареи","Замену поврежденных коннекторов, силовых проводов, перемычек, крышек и элементов","Определение причин, приведших к текущему состоянию тяговой батареи"]
        price="35 600"
    )
    +service(
        checked=false
        cat="Ремонт аккумуляторов"
        title="Сервисное сопровождение аккумуляторных батарей"
        list=["Проведение периодических десульфатирующих зарядов","Ведение журнала АКБ","Контроль состояния донорных и резервных аккумуляторов"]
        price="4 800"
    )
