extends _includes/layout

block config
    - var pagetitle = 'Статьи'
    - var bodyClass = ''

block content
    .block.container
        +bk(['Главная', 'Статьи'])
        h1.page-h Статьи
        .articles-header
            .tags-nav
                // логику писать не стал, нужно понять что здесь будет - mFilter или просто переходы по урл
                // переносы дизайнер не предусмотрел, так что нужно следить за кол-вом выводимых элементов
                a(href="#").tags-nav__link._active Все
                a(href="#").tags-nav__link Аккумуляторы
                a(href="#").tags-nav__link Зарядные устройства
                a(href="#").tags-nav__link Инструкции
                .input._addon.select.tags-nav__select.js-label.js-select
                    select
                        option(value="0" selected) Все
                        option(value="1") Аккумуляторы
                        option(value="2") Зарядные устройства
                        option(value="3") Инструкции
                    label Категория
                    span.input__addon
                        i.icon-input-arrow
            include _includes/blocks/pagination-sm
            
                
        .articles-list
            +article-item(
                title="Как правильно подобрать батарею на погрузчик?"
                date="18 ноября 2020"
                text="Определиться с видом аккумулятора для конкретно вашей погрузочной тележки помогут наши специалисты"
                tag="Аккумуляторы"
                img="1"
            )
            +article-item(
                title="Сравнение аккумуляторов: кислотные и гелевые"
                date="20 сентября 2020"
                text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                tag="Аккумуляторы"
                img="2"
            )
            +article-item(
                title="Как понять что АКБ на погрузчике пора менять?"
                date="4 августа 2020"
                text="Правильное функционирование складских помещений на сегодняшний день"
                tag="Инструкции"
                img="3"
            )
            +article-item(
                title="Зарядное устройство для тягового аккумулятора"
                date="24 июля 2020"
                text="Изготовление аккумуляторных батарей в РФ развивалось и сейчас развивается очень бурно"
                tag="Зарядные устройства"
                img="4"
            )
            
            +article-item(
                title="Сравнение аккумуляторов: кислотные и гелевые"
                date="20 сентября 2020"
                text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                tag="Аккумуляторы"
                img="2"
            )
            +article-item(
                title="Как понять что АКБ на погрузчике пора менять?"
                date="4 августа 2020"
                text="Правильное функционирование складских помещений на сегодняшний день"
                tag="Инструкции"
                img="3"
            )
            +article-item(
                title="Зарядное устройство для тягового аккумулятора"
                date="24 июля 2020"
                text="Изготовление аккумуляторных батарей в РФ развивалось и сейчас развивается очень бурно"
                tag="Зарядные устройства"
                img="4"
            )
            +article-item(
                title="Как правильно подобрать батарею на погрузчик?"
                date="18 ноября 2020"
                text="Определиться с видом аккумулятора для конкретно вашей погрузочной тележки помогут наши специалисты"
                tag="Аккумуляторы"
                img="1"
            )
            
            +article-item(
                title="Как понять что АКБ на погрузчике пора менять?"
                date="4 августа 2020"
                text="Правильное функционирование складских помещений на сегодняшний день"
                tag="Инструкции"
                img="3"
            )
            +article-item(
                title="Зарядное устройство для тягового аккумулятора"
                date="24 июля 2020"
                text="Изготовление аккумуляторных батарей в РФ развивалось и сейчас развивается очень бурно"
                tag="Зарядные устройства"
                img="4"
            )
            +article-item(
                title="Как правильно подобрать батарею на погрузчик?"
                date="18 ноября 2020"
                text="Определиться с видом аккумулятора для конкретно вашей погрузочной тележки помогут наши специалисты"
                tag="Аккумуляторы"
                img="1"
            )
            +article-item(
                title="Сравнение аккумуляторов: кислотные и гелевые"
                date="20 сентября 2020"
                text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                tag="Аккумуляторы"
                img="2"
            )
            
            +article-item(
                title="Зарядное устройство для тягового аккумулятора"
                date="24 июля 2020"
                text="Изготовление аккумуляторных батарей в РФ развивалось и сейчас развивается очень бурно"
                tag="Зарядные устройства"
                img="4"
            )
            +article-item(
                title="Как правильно подобрать батарею на погрузчик?"
                date="18 ноября 2020"
                text="Определиться с видом аккумулятора для конкретно вашей погрузочной тележки помогут наши специалисты"
                tag="Аккумуляторы"
                img="1"
            )
            +article-item(
                title="Сравнение аккумуляторов: кислотные и гелевые"
                date="20 сентября 2020"
                text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                tag="Аккумуляторы"
                img="2"
            )
            +article-item(
                title="Как понять что АКБ на погрузчике пора менять?"
                date="4 августа 2020"
                text="Правильное функционирование складских помещений на сегодняшний день"
                tag="Инструкции"
                img="3"
            )
        .articles-footer
            include _includes/blocks/pagination
