extends _includes/layout

block config
    - var pagetitle = 'Каталог'
    - var bodyClass = ''

block content
    .block.container
        +bk(['Главная', 'Каталог', 'Аккумуляторы'])
        h1.page-h Аккумуляторы
        
        .cat-header
            include _includes/blocks/pagination-sm
            
        .cat-list
            +cat-item(
                category="Тяговый аккумулятор"
                title="Hawker Powerbloc 6 TP 210"
                tags=["210 Ач", "6 В", "1 год"]
                stars=4
                reviews="37 отзывов"
                oldprice="42 300"
                discount="–5 600"
                price="36 700"
                img="1"
                hit=true
            )
            +cat-item(
                category="Стартерный аккумулятор"
                title="Delta EPS 1215"
                tags=["15 Ач", "12 В", "2 года"]
                stars=3
                reviews="21 отзыв"
                oldprice="4 900"
                discount="–460"
                price="4 440"
                img="2"
            )
            +cat-item(
                category="Герметизированный аккумулятор"
                title="PowerSafe OPzV 5 OPzV 250"
                tags=["256 Ач", "12 В", "2 года"]
                stars=5
                reviews="10 отзывов"
                oldprice="32 500"
                discount="–3 180"
                price="29 320"
                img="3"
                hit=true
            )
            +cat-item(
                category="Тяговая аккумуляторная батарея"
                title="Hawker Evolution"
                tags=["440 Ач", "48 В", "5 лет"]
                stars=4
                reviews="6 отзывов"
                price="620 750"
                img="4"
                new=true
            )
            +cat-item(
                category="Герметезированный аккумулятор"
                title="DataSafe HX 12HX25"
                tags=["5 Ач", "12 В", "2 года"]
                stars=3
                reviews="9 отзывов"
                oldprice="22 340"
                discount="–2 000"
                price="20 340"
                img="5"
                bestprice=true
            )
            +cat-item(
                category="Герметизированный аккумулятор"
                title="Odyssey 31-PC2150"
                tags=["265 Ач", "12 В", "2 года"]
                price="29 320"
                img="6"
                hit=true
                bestprice=true
            )
            +cat-item(
                category="Тяговый аккумулятор"
                title="Hawker XFC 12XFC158"
                tags=["158 Ач", "12 В", "1 год"]
                oldprice="43 450"
                discount="–3 010"
                price="40 440"
                img="7"
            )
            +cat-item(
                category="Герметезированный аккумулятор"
                title="PowerSafe VF 12V92F"
                tags=["5 Ач", "12 В", "1 год"]
                stars=4
                reviews="15 отзывов"
                price="32020"
                img="8"
            )
        
        .cat-footer
            include _includes/blocks/pagination
