extends _includes/layout

block config
    - var pagetitle = 'Каталог'
    - var bodyClass = ''

block content
    .block.container
        +bk(['Главная', 'Каталог', 'Аккумуляторы'])
        h1.page-h Аккумуляторы
        
        .cat-header.js-cat-header
            .sort.js-sort
                label Сортировать:
                select
                    option(value="1" selected) По стоимости
                    option(value="2") По популярности
                span.sort__addon
                    i.icon-input-arrow
            button.filter-btn(data-fancybox data-src="#filter") Фильтры
            .sort.js-sort
                label Показывать по:
                select
                    option(value="1" selected) 24
                    option(value="2") 36
                    option(value="3") 48
                span.sort__addon
                    i.icon-input-arrow
            include _includes/blocks/pagination-sm
            a(href="#").cat-header__cart
                i.icon-header-cart
                span.cat-header__cart__counter 3
        
        .cat-list
            +cat-item(
                category="Тяговый аккумулятор"
                title="Hawker Powerbloc 6 TP 210"
                tags=["210 Ач", "6 В", "1 год"]
                stars=4
                reviews="37 отзывов"
                oldprice="42 300"
                discount="–5 600"
                price="36 700"
                img="1"
                hit=true
            )
            +cat-item(
                category="Стартерный аккумулятор"
                title="Delta EPS 1215"
                tags=["15 Ач", "12 В", "2 года"]
                stars=3
                reviews="21 отзыв"
                oldprice="4 900"
                discount="–460"
                price="4 440"
                img="2"
            )
            +cat-item(
                category="Герметизированный аккумулятор"
                title="PowerSafe OPzV 5 OPzV 250"
                tags=["256 Ач", "12 В", "2 года"]
                stars=5
                reviews="10 отзывов"
                oldprice="32 500"
                discount="–3 180"
                price="29 320"
                img="3"
                hit=true
            )
            +cat-item(
                category="Тяговая аккумуляторная батарея"
                title="Hawker Evolution"
                tags=["440 Ач", "48 В", "5 лет"]
                stars=4
                reviews="6 отзывов"
                price="620 750"
                img="4"
                new=true
            )
            +cat-item(
                category="Герметезированный аккумулятор"
                title="DataSafe HX 12HX25"
                tags=["5 Ач", "12 В", "2 года"]
                stars=3
                reviews="9 отзывов"
                oldprice="22 340"
                discount="–2 000"
                price="20 340"
                img="5"
                bestprice=true
            )
            +cat-item(
                category="Герметизированный аккумулятор"
                title="Odyssey 31-PC2150"
                tags=["265 Ач", "12 В", "2 года"]
                price="29 320"
                img="6"
                hit=true
                bestprice=true
            )
            +cat-item(
                category="Тяговый аккумулятор"
                title="Hawker XFC 12XFC158"
                tags=["158 Ач", "12 В", "1 год"]
                oldprice="43 450"
                discount="–3 010"
                price="40 440"
                img="7"
            )
            +cat-item(
                category="Герметезированный аккумулятор"
                title="PowerSafe VF 12V92F"
                tags=["5 Ач", "12 В", "1 год"]
                stars=4
                reviews="15 отзывов"
                price="32020"
                img="8"
            )
        
        .cat-footer
            include _includes/blocks/pagination

    .hidden
        #filter.popup._filter
            form.filter
                h4.filter__h Фильтры
                .filter__grid.js-range
                    .input.js-label
                        input(value="3000")
                        label Цена от
                    .input.js-label
                        input(value="300000")
                        label Цена до
                    .js-range__target.filter__grid__col2
                .filter__grid
                    .input._addon.select.js-label.js-select
                        select
                            option(value="") Все
                            option(value="1" selected) Тяговые аккумуляторы
                            option(value="2") Литий-ионные аккумуляторы
                            option(value="3") Стартерные аккумуляторы
                            option(value="4") Гелевые аккумуляторы
                            option(value="5") Стационарные аккумуляторы
                        label Категория
                        span.input__addon
                            i.icon-input-arrow
                    .input._addon.select.js-label.js-select
                        select
                            option(value="") Любой
                            option(value="1") Enersys
                            option(value="2") Balkancar
                            option(value="3") Chaobao
                            option(value="4") Columbus
                            option(value="5") Doosan-daewoo
                        label Бренд
                        span.input__addon
                            i.icon-input-arrow
                    .input._addon.select.js-label.js-select
                        select
                            option(value="") Любое
                            option(value="1") 12 В
                            option(value="2") 220 В
                            option(value="3") 100 500 В
                        label Напряжение
                        span.input__addon
                            i.icon-input-arrow
                    .input._addon.select.js-label.js-select
                        select
                            option(value="") Любая
                            option(value="1" selected) 264 мАч
                            option(value="2") 265 мАч
                            option(value="3") 266 мАч
                        label Емкость
                        span.input__addon
                            i.icon-input-arrow
                    .input._addon.select.js-label.js-select.filter__grid__col2
                        select
                            option(value="") Любая
                            option(value="1" selected) Германия
                            option(value="2") Китай
                            option(value="3") США
                        label Страна производитель
                        span.input__addon
                            i.icon-input-arrow
                    button(type="submit").btn._block.filter__grid__col2 Применить
                button(type="reset").filter__reset
                    span.filter__reset__inner Сбросить все
