extends _includes/layout

block config
    - var pagetitle = 'Главная'
    - var bodyClass = ''

block content
    section.block.container.overflow-hidden
        .swiper-container.slider._main.js-slider-main
            .swiper-wrapper
                a(href="#").swiper-slide
                    .slider__picture-wrapper
                        picture.slider__picture
                            source(type="image/webp" media="(max-width:767px)" data-srcset="assets/img/main-slider-1-sm.webp" srcset="assets/img/dot.webp")
                            source(type="image/webp" data-srcset="assets/img/main-slider-1.webp" srcset="assets/img/dot.webp")
                            source(type="image/png" media="(max-width:767px)" data-srcset="assets/img/main-slider-1-sm.png" srcset="assets/img/dot.png")
                            source(type="image/png" data-srcset="assets/img/main-slider-1.png" srcset="assets/img/dot.png")
                            img.lazyload(data-src="assets/img/main-slider-1.png" src="assets/img/dot.png" alt="Скидки до 20%!")
                    .slider__text
                        .slider__text__accent Скидки до 20%!
                        | Больше выгоды! Сдав старый аккумулятор получите скидку на покупку нового!
                a(href="#").swiper-slide
                    .slider__picture-wrapper
                        picture.slider__picture
                            source(type="image/webp" media="(max-width:767px)" data-srcset="assets/img/main-slider-2-sm.webp" srcset="assets/img/dot.webp")
                            source(type="image/webp" data-srcset="assets/img/main-slider-2.webp" srcset="assets/img/dot.webp")
                            source(type="image/png" media="(max-width:767px)" data-srcset="assets/img/main-slider-2-sm.png" srcset="assets/img/dot.png")
                            source(type="image/png" data-srcset="assets/img/main-slider-2.png" srcset="assets/img/dot.png")
                            img.lazyload(data-src="assets/img/main-slider-2.png" src="assets/img/dot.png" alt="Скидки до 20%!")
                    .slider__text
                        .slider__text__accent Скидки до 30%!
                        | Больше выгоды! Сдав старый аккумулятор получите скидку на покупку нового!
                a(href="#").swiper-slide
                    .slider__picture-wrapper
                        picture.slider__picture
                            source(type="image/webp" media="(max-width:767px)" data-srcset="assets/img/main-slider-1-sm.webp" srcset="assets/img/dot.webp")
                            source(type="image/webp" data-srcset="assets/img/main-slider-1.webp" srcset="assets/img/dot.webp")
                            source(type="image/png" media="(max-width:767px)" data-srcset="assets/img/main-slider-1-sm.png" srcset="assets/img/dot.png")
                            source(type="image/png" data-srcset="assets/img/main-slider-1.png" srcset="assets/img/dot.png")
                            img.lazyload(data-src="assets/img/main-slider-1.png" src="assets/img/dot.png" alt="Скидки до 20%!")
                    .slider__text
                        .slider__text__accent Скидки до 20%!
                        | Больше выгоды! Сдав старый аккумулятор получите скидку на покупку нового!
                a(href="#").swiper-slide
                    .slider__picture-wrapper
                        picture.slider__picture
                            source(type="image/webp" media="(max-width:767px)" data-srcset="assets/img/main-slider-2-sm.webp" srcset="assets/img/dot.webp")
                            source(type="image/webp" data-srcset="assets/img/main-slider-2.webp" srcset="assets/img/dot.webp")
                            source(type="image/png" media="(max-width:767px)" data-srcset="assets/img/main-slider-2-sm.png" srcset="assets/img/dot.png")
                            source(type="image/png" data-srcset="assets/img/main-slider-2.png" srcset="assets/img/dot.png")
                            img.lazyload(data-src="assets/img/main-slider-2.png" src="assets/img/dot.png" alt="Скидки до 20%!")
                    .slider__text
                        .slider__text__accent Скидки до 30%!
                        | Больше выгоды! Сдав старый аккумулятор получите скидку на покупку нового!
            .swiper-pagination

    section.block.container.overflow-hidden            
        +products-slider('Популярные товары')
    
    section.block._bg
        .index-cats.container.swiper-container.js-cats-slider
            .index-cats__inner.swiper-wrapper
                .index-cats__slide.swiper-slide
                    a(href="#").index-cats__item
                        h3.index-cats__item__h Тяговые аккумуляторы
                        span.index-cats__item__muted 246 товаров
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/1.svg" src="assets/img/dot.svg" alt="Тяговые аккумуляторы")
                    a(href="#").index-cats__item._row-2
                        h3.index-cats__item__h Свинцово-кислотные аккумуляторы
                        span.index-cats__item__muted 186 товаров
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/2.svg" src="assets/img/dot.svg" alt="Свинцово-кислотные аккумуляторы")
                    a(href="#").index-cats__item
                        h3.index-cats__item__h Стартерные аккумуляторы
                        span.index-cats__item__muted 359 товаров
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/3.svg" src="assets/img/dot.svg" alt="Стартерные аккумуляторы")
                .index-cats__slide.swiper-slide
                    a(href="#").index-cats__item._col-2
                        h3.index-cats__item__h Стационарные аккумуляторы
                        span.index-cats__item__muted 70 товаров
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/4.svg" src="assets/img/dot.svg" alt="Стационарные аккумуляторы")
                    a(href="#").index-cats__item
                        h3.index-cats__item__h Зарядные устройства
                        span.index-cats__item__muted 48 товаров
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/5.svg" src="assets/img/dot.svg" alt="Зарядные устройства")
                    a(href="#").index-cats__item
                        h3.index-cats__item__h Аксессуары
                        span.index-cats__item__muted 582 товара
                        img.lazyload.index-cats__item__img(data-src="assets/img/cats/6.svg" src="assets/img/dot.svg" alt="Аксессуары")
            .swiper-pagination
    
    section.block.container.overflow-hidden
        .slider._md.swiper-container.js-slider_md
            h3.block-h Выгодные предложения
            .swiper-wrapper
                .swiper-slide
                    +cat-item(
                        category="Тяговый аккумулятор"
                        title="Hawker Powerbloc 6 TP 210"
                        tags=["210 Ач", "6 В", "1 год"]
                        stars=4
                        reviews="37 отзывов"
                        oldprice="42 300"
                        discount="–5 600"
                        price="36 700"
                        img="1"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Стартерный аккумулятор"
                        title="Delta EPS 1215"
                        tags=["15 Ач", "12 В", "2 года"]
                        stars=3
                        reviews="21 отзыв"
                        oldprice="4 900"
                        discount="–460"
                        price="4 440"
                        img="2"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Герметизированный аккумулятор"
                        title="PowerSafe OPzV 5 OPzV 250"
                        tags=["256 Ач", "12 В", "2 года"]
                        stars=5
                        reviews="10 отзывов"
                        oldprice="32 500"
                        discount="–3 180"
                        price="29 320"
                        img="3"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Тяговая аккумуляторная батарея"
                        title="Hawker Evolution"
                        tags=["440 Ач", "48 В", "5 лет"]
                        stars=4
                        reviews="6 отзывов"
                        price="620 750"
                        img="4"
                        new=true
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Тяговый аккумулятор"
                        title="Hawker Powerbloc 6 TP 210"
                        tags=["210 Ач", "6 В", "1 год"]
                        stars=4
                        reviews="37 отзывов"
                        oldprice="42 300"
                        discount="–5 600"
                        price="36 700"
                        img="1"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Стартерный аккумулятор"
                        title="Delta EPS 1215"
                        tags=["15 Ач", "12 В", "2 года"]
                        stars=3
                        reviews="21 отзыв"
                        oldprice="4 900"
                        discount="–460"
                        price="4 440"
                        img="2"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Герметизированный аккумулятор"
                        title="PowerSafe OPzV 5 OPzV 250"
                        tags=["256 Ач", "12 В", "2 года"]
                        stars=5
                        reviews="10 отзывов"
                        oldprice="32 500"
                        discount="–3 180"
                        price="29 320"
                        img="3"
                        hit=true
                    )
                .swiper-slide
                    +cat-item(
                        category="Тяговая аккумуляторная батарея"
                        title="Hawker Evolution"
                        tags=["440 Ач", "48 В", "5 лет"]
                        stars=4
                        reviews="6 отзывов"
                        price="620 750"
                        img="4"
                        new=true
                        hit=true
                    )
            .swiper-button-prev
            .swiper-button-next
    
    
    section.block.container.overflow-hidden.index-seo
        h3.block-h Компания RUTOK – эксперт по аккумуляторам
        .rte
            p «RUTOK» — экспертный поставщик и сервис аккумуляторных батарей, официальный представитель ведущих мировых производителей. Проектируем комплектации любой сложности, поставляем аккумуляторы непосредственно с заводов и обслуживаем АКБ.
            h4 Создание и развитие компании
            p «RUTOK» основан в 2010 и первоначально выполнял сервис тяговых акб. За несколько лет через руки наших инженеров прошли тысячи аккумуляторных батарей различных производителей. Мы нарабатывали базу данных практических показателей работы, начали проводить собственные тестирования электрохимии и выбирать партнеров-производителей для долговременного сотрудничества.
            // указаны default data
            .js-cut(data-text-open="Читать полностью" data-text-close="Скрыть")
                p В 2012 году «RUTOK» стал официальным дилером компании STOPiT, а затем — генеральным партнером по поставкам и установке системы контроля складской техники. В настоящее время успешное сотрудничество продолжается и развивается.
                p В 2014 году мы приняли статус российского партнера концерна Enersys и официального поставщика одноименной марки продукции. Плодотворное сотрудничество продолжается и сейчас, регулярно реализуем новые совместные проекты.
                p Наши собственные испытания, начатые в 2010 году и проводившиеся в оборудованных нами лабораториях, принесли свои плоды. По результатам этих работ «RUTOK» получил несколько грантов и предложения продолжить исследования в Академгородке и Сколково. Мы создали и запатентовали новую зарядную установку, а также получили патент на инновационное производство литий-ионных батарей и способ контроля за ними.
                p Исследования продолжаются, неустанно работаем над повышением эффективности эксплуатации тяговых аккумуляторных батарей.
        include _includes/blocks/feats

    +articles-slider('Полезные статьи')
