mixin articles-slider(title)
    .block.container.overflow-hidden
        .slider.swiper-container.js-slider
            h3.block-h=title
            .swiper-wrapper
                .swiper-slide
                    +article-item(
                        title="Как правильно подобрать батарею на погрузчик?"
                        date="18 ноября 2020"
                        text="Определиться с видом аккумулятора для конкретно вашей погрузочной тележки помогут наши специалисты"
                        tag="Аккумуляторы"
                        img="1"
                    )
                .swiper-slide
                    +article-item(
                        title="Сравнение аккумуляторов: кислотные и гелевые"
                        date="20 сентября 2020"
                        text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                        tag="Аккумуляторы"
                        img="2"
                    )
                .swiper-slide
                    +article-item(
                        title="Как понять что АКБ на погрузчике пора менять?"
                        date="4 августа 2020"
                        text="Правильное функционирование складских помещений на сегодняшний день"
                        tag="Инструкции"
                        img="3"
                    )
                .swiper-slide
                    +article-item(
                        title="Зарядное устройство для тягового аккумулятора"
                        date="24 июля 2020"
                        text="Изготовление аккумуляторных батарей в РФ развивалось и сейчас развивается очень бурно"
                        tag="Зарядные устройства"
                        img="4"
                    )
                .swiper-slide
                    +article-item(
                        title="Сравнение аккумуляторов: кислотные и гелевые"
                        date="20 сентября 2020"
                        text="Выбрать эффективный, надежный и недорогой аккумулятор сейчас несложно"
                        tag="Аккумуляторы"
                        img="2"
                    )
                .swiper-slide
                    +article-item(
                        title="Как понять что АКБ на погрузчике пора менять?"
                        date="4 августа 2020"
                        text="Правильное функционирование складских помещений на сегодняшний день"
                        tag="Инструкции"
                        img="3"
                    )
            .swiper-button-prev
            .swiper-button-next
