mixin cart-item()
    .cart-item(class=attributes.office ? '_office' : '')
        .cart-item__left
            a(href="#").cart-item__img-wrapper
                if attributes.count
                    picture.cart-item__img
                        source(type="image/webp" data-srcset="assets/img/products/"+attributes.img+".webp" srcset="assets/img/dot.webp")
                        source(type="image/png" data-srcset="assets/img/products/"+attributes.img+".png" srcset="assets/img/dot.png")
                        img.lazyload(data-src="assets/img/products/"+attributes.img+".png" src="assets/img/dot.png" alt=attributes.title)
                else
                    +svgsprite('service')
            .cart-item__left__content
                .cart-item__cat=attributes.category
                a(href="#").cart-item__h=attributes.title
                if attributes.tags
                    .cart-item__tth
                        span.cart-item__tth__item
                            i.icon-battery
                            =attributes.tags[0]
                        span.cart-item__tth__item
                            i.icon-battery-charge
                            =attributes.tags[1]
                        span.cart-item__tth__item
                            i.icon-warranty
                            =attributes.tags[2]
        .cart-item__right
            if (!attributes.office)
                form.counter._sm.js-counter
                    button(type="button").counter__btn._minus.js-counter__minus -
                    input(type="number" min="1" max="10" value=attributes.count).counter__input
                    button(type="button").counter__btn._plus.js-counter__plus +
            else
                .cart-item__count
                    if attributes.count
                        =attributes.count 
                        | 
                        | шт.
                    else
                        | –
            .cart-item__price=attributes.price
                | 
                span.price-muted ₽
            if (!attributes.office)
                form
                    button.cart-item__remove(title="Удалить")
                        i.icon-trash
