mixin products-slider(title)
    .slider.swiper-container.js-slider
        h3.block-h=title
        .swiper-wrapper
            .swiper-slide
                +cat-item(
                    category="Тяговый аккумулятор"
                    title="Hawker Powerbloc 6 TP 210"
                    tags=["210 Ач", "6 В", "1 год"]
                    stars=4
                    reviews="37 отзывов"
                    oldprice="42 300"
                    discount="–5 600"
                    price="36 700"
                    img="1"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Стартерный аккумулятор"
                    title="Delta EPS 1215"
                    tags=["15 Ач", "12 В", "2 года"]
                    stars=3
                    reviews="21 отзыв"
                    oldprice="4 900"
                    discount="–460"
                    price="4 440"
                    img="2"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Герметизированный аккумулятор"
                    title="PowerSafe OPzV 5 OPzV 250"
                    tags=["256 Ач", "12 В", "2 года"]
                    stars=5
                    reviews="10 отзывов"
                    oldprice="32 500"
                    discount="–3 180"
                    price="29 320"
                    img="3"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Тяговая аккумуляторная батарея"
                    title="Hawker Evolution"
                    tags=["440 Ач", "48 В", "5 лет"]
                    stars=4
                    reviews="6 отзывов"
                    price="620 750"
                    img="4"
                    new=true
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Тяговый аккумулятор"
                    title="Hawker Powerbloc 6 TP 210"
                    tags=["210 Ач", "6 В", "1 год"]
                    stars=4
                    reviews="37 отзывов"
                    oldprice="42 300"
                    discount="–5 600"
                    price="36 700"
                    img="1"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Стартерный аккумулятор"
                    title="Delta EPS 1215"
                    tags=["15 Ач", "12 В", "2 года"]
                    stars=3
                    reviews="21 отзыв"
                    oldprice="4 900"
                    discount="–460"
                    price="4 440"
                    img="2"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Герметизированный аккумулятор"
                    title="PowerSafe OPzV 5 OPzV 250"
                    tags=["256 Ач", "12 В", "2 года"]
                    stars=5
                    reviews="10 отзывов"
                    oldprice="32 500"
                    discount="–3 180"
                    price="29 320"
                    img="3"
                    hit=true
                )
            .swiper-slide
                +cat-item(
                    category="Тяговая аккумуляторная батарея"
                    title="Hawker Evolution"
                    tags=["440 Ач", "48 В", "5 лет"]
                    stars=4
                    reviews="6 отзывов"
                    price="620 750"
                    img="4"
                    new=true
                    hit=true
                )
        .swiper-button-prev
        .swiper-button-next
